/* Initially hide nav-item-name */
.nav-item-name,
.search-input,
.search-icon {
  display: none;
  opacity: 0;
  transition: 0.5s ease-in;
  /* Adjust transition timing and easing */
}

#navigation-container:hover .nav-item-name,
#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
}
